body {
    color: #081414;
    background-color: white;
}


nav {
    position: sticky;
    top: 0;
}

.nav_items {
    background-color: #132c2c;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
}

.nav_items li {
    float: left;
}

.nav_items li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}

.nav_items li a:hover {
    background-color: #081414;
}

.main_contents {
    height: 1000px;
}

.section {
    display: flex;
    width: 100%;
    padding-top: 50px;
}


.btn_class_search {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.btn_class {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

table {
    width: 100%;
}


.table_class {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 10px;
    overflow: hidden;
}

.table_class thead tr {
    background-color: #132c2c;
    color: white;
    text-align: left;
    font-weight: bold;
}

.table_class th,
.table_class td {
    padding: 12px 15px;
}

.table_class tbody tr {
    border-bottom: 1px solid rgba(185, 185, 185, 0.867);
}

.table_class tbody tr:nth-of-type(even) {
    background-color: #dcdcdc;
}

.form_class {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.form_text {
    width: 100%;
    height: 40px;
    margin: 10px 0px 20px;
}

.btn_add {
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    background-color: #132c2c;
    width: 10%;
}

.btn_add a {
    color: white;
    text-decoration: none;
}

.btn_add:hover {
    background-color: #204040;
}


.nav_items .nav_right {
    float: right;
}

.container_login_regis {
    padding: 100px;
}

.form_login_regis {
    background-color: #132c2c;
    color: white;
    width: 35%;
    margin: 30px auto;
    text-align: center;
    padding: 20px 0 20px 0;
    border-radius: 4px;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}


.acc_check a {
    text-decoration: none;
    color: red;
}